<div class="image_background">
    <app-header></app-header>
    <div class=" background_register transparent ">
        <div class="centrado">
            <div>
                <div class="circulo_register">
                </div>
            </div>
            <div>
                <form [formGroup]="formRegister" autocomplete="off" (ngSubmit)="sendRegister()">
                    <input type="text" class="input_register" matInput placeholder="Username" formControlName="username">



                    <div class="example-radio-group">
                        <input type="text" class="input_register_apellidos" matInput placeholder="Apellido paterno" formControlName="lastNameFather">
                        <input type="text" class="input_register_apellidos" matInput placeholder="Apellido materno" formControlName="lastNameMother">
                        <input type="number" class="input_edad" matInput placeholder="Edad" formControlName="yearsold">

                    </div>

                    <input type="email" class="input_register" matInput placeholder="Email" formControlName="email">


                    <!-- <div *ngIf="submitted && f.email.errors" style="z-index: 10; color: white;">
                        <div *ngIf="f.email.errors.required">Campo requerido</div>
                        <div *ngIf="f.email.errors.email">Email invalido</div>
                    </div> -->

                    <p>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="rol">
                            <mat-radio-button class="example-radio-button" *ngFor="let rol of rols" [value]="rol">
                                {{rol}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </p>
                    <input type="password" class="input_register" autocomplete="off" matInput placeholder="Password" formControlName="password">
                    <input type="password" class="input_register" autocomplete="off" matInput placeholder="Confirm password" formControlName="confirmPassword">
                    <p *ngIf="error" class="error">
                        {{ error }}
                    </p>

                    <div class="button">
                        <button class="button_register" type="submit" mat-button>Registrarse</button>
                    </div>
                    <p style="color: white; margin-top: 5px;">
                        ¿Ya tienes cuenta? <button class="button_nocss" (click)="Login()">Inicia sesión</button>
                    </p>

                </form>
            </div>
        </div>

    </div>
</div>
<!-- <img src="assets\pictures\paper.jpg" class=".img-fluid. max-width: 100%;" style="height: auto;"> -->