<div class="image_background centrado">

    <app-header></app-header>
    <p class="title_menu_profesor">Bienvenido profesor {{nameProfesor}}</p>
    <div class="background_menu">
        <div class=" horizontal">
            <img src="/assets/pictures/archivos.jpg">
            <button class="button_menu_profesor" type="submit" mat-button>Archivos</button>
        </div>
        <div class="horizontal">
            <img src="/assets/pictures/chatbot.jpg">
            <button class="button_menu_profesor" type="submit" mat-button>Chatbot</button>
        </div>

        <div *ngIf="typeMenu=='profesor'" class="horizontal">
            <img src="/assets/pictures/alumnos.jpg">
            <button class="button_menu_profesor" type="submit" mat-button>Alumnos</button>
        </div>

    </div>
</div>