<form [formGroup]="formFile">

    <div mat-dialog-content>
        <mat-form-field>
            <input matInput formControlName="materia" placeholder="Materia">
            <!--[(ngModel)]="data.url" [(value)]="data.materia"-->
        </mat-form-field>
        <p></p>
        <mat-form-field>
            <mat-label>Grado</mat-label>
            <mat-select formControlName="grado">
                <mat-option *ngFor="let grade of grades" [value]="grade.value">
                    {{grade.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Grupo</mat-label>
            <mat-select formControlName="grupo">
                <mat-option *ngFor="let group of groups" [value]="group.value">
                    {{group.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p></p>

    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onClickNo()">No</button>
        <button mat-button type="submit" [disabled]="formFile.invalid" [mat-dialog-close]="formFile.value">Si</button>
    </div>

</form>