<div class="image_background">
    <app-header></app-header>
    <div class="background_chatbot">
        <div class="" style="width: 100%;">
            <form [formGroup]="formChat" (ngSubmit)="sendMessage(target)">
                <!-- (ngSubmit)="sendMessage(target)" -->
                <div class="form-group shadow-none p-3 mb-5 rounded" style="width:auto;  height: 90%; max-height: 650px; overflow-y: auto; overflow-x: hidden;">
                    <!-- Chat -->
                    <div class="row" *ngFor="let msg of array_messages">
                        <p class="col-5 ml-3 xl-2
                                            shadow-sm p-3 mb-5 bg-white rounded 
                                            rounded-right text-break align-self-start" *ngIf="msg.idUser != currentUser">
                            <strong>{{ msg.name }}:</strong> {{ msg.content }}
                        </p>
                        <!-- añade un examen de historia a las 4 de la tarde -->



                        <p class=" col-5 mr-3 
                                            rounded-left text-break 
                                            shadow-sm p-3 mb-5 bg-white rounded
                                            align-self-end ml-auto" *ngIf="msg.idUser == currentUser"><strong>{{ msg.name }}:</strong> {{ msg.content }}</p>


                        <div *ngIf="msg.dateCondition && msg.idUser != currentUser" class="col-5 ml-3 xl-2 shadow-sm p-3 mb-5 bg-transparent rounded rounded-right text-break align-self-start"> </div>
                        <p *ngIf="msg.dateCondition && msg.idUser != currentUser" class="col-5 ml-3 xl-2 shadow-sm p-3 mb-5 bg-white rounded rounded-right text-break align-self-start">
                            Selecciones la fecha
                            <mat-form-field color="accent">
                                <input matInput [matDatepicker]="picker" placeholder="Seleccione el dia" disabled (dateInput)="addEvent(msg, $event)" [formControl]="date">
                                <!-- (dateChange)="addEvent(msg, $event)" -->
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker disabled="{{msg.dateActivate}}" #picker></mat-datepicker>
                            </mat-form-field>
                        </p>
                    </div>
                </div>

                <div class="background_bar">
                    <form *ngIf="user.type=='Profesor'" class="horizontal row">
                        <button [matMenuTriggerFor]="menu" class="add">
                        <i class="material-icons">
                            add
                        </i>       
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openDialogAddFile()">
                                <mat-icon>file_copy</mat-icon>
                                <span>Añadir un archivo </span>
                            </button>
                        </mat-menu>

                        </button>

                    </form>
                    <div class="horizontal">
                        <input formControlName="message" type="text" class=" border border-dark  rounded  text_bar" matInput placeholder="Tu mensaje va aqui">
                    </div>
                    <div class="horizontal row">
                        <button (click)="sendMessage()" class="send" mat-button>
                                <i class="material-icons">
                                send
                                </i>
                            </button>
                    </div>
                    <div class="horizontal"></div>
                </div>
            </form>
        </div>
    </div>
</div>