<div class="image_background">
    <app-header></app-header>
    <div class="background_chatbot">
        <div class="" style="width: 100%;">
            <form [formGroup]="formChat" (ngSubmit)="sendMessage(target)">
                <div class="form-group shadow-none p-3 mb-5 rounded" style="width:auto;  height: 90%; max-height: 650px; overflow-y: auto; overflow-x: hidden;">
                    <!-- Chat -->
                    <div class="row" *ngFor="let msg of array_messages">
                        <p class="col-5 ml-3 xl-2
                                            shadow-sm p-3 mb-5 bg-white rounded 
                                            rounded-right text-break align-self-start" *ngIf="msg.idUser != currentUser"><strong>{{ msg.name }}:</strong> {{ msg.content }}</p>

                        <p class=" col-5 mr-3 
                                            rounded-left text-break 
                                            shadow-sm p-3 mb-5 bg-white rounded
                                            align-self-end ml-auto" *ngIf="msg.idUser == currentUser"><strong>{{ msg.name }}:</strong> {{ msg.content }}</p>
                    </div>
                </div>

                <div class="background_bar">
                    <div class="horizontal row">
                        <button class="add" mat-button>
                                <i class="material-icons">
                                add
                                </i>
                            </button>
                    </div>
                    <div class="horizontal">
                        <input formControlName="message" type="text" class=" border border-dark  rounded  text_bar" matInput placeholder="Tu mensaje va aqui">
                    </div>
                    <div class="horizontal row">
                        <button type="submit" class="send" mat-button>
                                <i class="material-icons">
                                send
                                </i>
                            </button>
                    </div>
                    <div class="horizontal"></div>
                </div>
            </form>
        </div>
    </div>
</div>